@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
body {
    margin: 0;
    font-family: -apple-system, "Karla", BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f7fb;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.start,
.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.start h1 {
    color: #293264;
    font-size: 36px;
    margin: 1em;
}
button {
    width: 193px;
    height: 52px;
    background: #4d5b9e;
    border-radius: 15px;
    border: none;
    color: #f5f7fb;
    font-size: 18px;
    margin: 1em;
}

.bg img {
    position: fixed;
    z-index: -999;
}
.bg img:first-child {
    bottom: 0;
    left: 0;
    height: 20%;
}
.bg img:last-child {
    top: 0;
    right: 0;
    height: 40%;
}

.game {
    padding: 5vh 5vw;
    width: 88vw;
    height: auto;
    align-items: start;
}

.game .btn-div button {
    margin: auto;
}
button {
    cursor: pointer;
}

/* .game{
    min-width: 1000px;
} */

.game div form {
    display: flex;
    width: 88vw;

    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
}
.game div form div {
    margin: 2rem;
    word-wrap: break-word;
    /* display: grid; */
    box-sizing: border-box;
}
.game div form div label {
    font-size: 19px;
    border: 0.1em solid #4d5b9e;
    border-radius: 1rem;
    padding: 0.6rem;
    font-weight: 500;
}
.game div form div input {
    display: none;
}

.game div form div input[type="radio"]:checked + label {
    background-color: #d6dbf5;
}

hr {
    margin: 1rem;
    color: #dbdef0;
}
.score {
    margin: 1rem;
}

.check-score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 88vw;
    margin: 0;
    padding: 0;
}

.check-score button {
    margin: 0;
}

input[type="range"] {
    height: 37px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 300px;
    background-color: transparent;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    
    box-shadow: 1px 1px 1px #000000;
    background: #4d5b9e;
    border-radius: 50px;
    border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 5px #cccccc;
    border: 4px solid #fafceb;
    height: 27px;
    width: 27px;
    border-radius: 50px;
    background: #4d5b9e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #4d5b9e;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    
    box-shadow: 1px 1px 1px #000000;
    background: #4d5b9e;
    border-radius: 50px;
    border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 5px #cccccc;
    border: 4px solid #fafceb;
    height: 27px;
    width: 27px;
    border-radius: 50px;
    background: #4d5b9e;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #4d5b9e;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
    background: #4d5b9e;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 5px #cccccc;
    border: 4px solid #fafceb;
    height: 27px;
    width: 27px;
    border-radius: 50px;
    background: #4d5b9e;
    cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #4d5b9e;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #4d5b9e;
}

fieldset {
    margin: 1rem;
    border-radius: 8px;
    -moz-border-radius:8px;
    border: 2px solid rgb(0, 13, 40);
    padding-bottom: 1rem;
}

legend {
    font-weight: 600;
    font-size: 1.2rem;
}

.range label{
    display: inline;
    white-space:nowrap;
    height: 37px;
    margin-left: 2rem;
}
.range {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 1rem 1rem 0 1rem;
}

.Multiselect{
    margin: 1rem;
    margin-bottom: 5px;
}
.Multiselect:first-child{
    margin-top: 0;
}

.Multiselect:last-child{
    margin-top: 1rem;
}

.search-wrapper{
    width: 50%;
}

@media screen and (max-width: 620px){
    .search-wrapper{
        width: 90%;
    }
    .range{
        width: 75%;
    }
}

@media screen and (max-width: 460px){
    .search-wrapper{
        width: 90%;
    }
    .range{
        width: 60%;
    }
    form{
        width: 300px;
    }
}

.input > label{
    color: #C1C1C1;
    font-size: 12px;
    margin: 0;
    margin-left: 1.3rem;
}
.submit-play{
    margin-left: 1.3rem;
}